"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Ricty"
    fontSize: 16
    lineHeight: 1
    preferredLineLength: 130
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "c60125b0-32ec-440c-93e6-6829689154d7"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#073642"
        blue: "#268bd2"
        cyan: "#2aa198"
        green: "#859900"
        magenta: "#d33682"
        red: "#dc322f"
        white: "#eee8d5"
        yellow: "#b58900"
      zBright:
        brightBlack: "#002b36"
        brightBlue: "#839496"
        brightCyan: "#93a1a1"
        brightGreen: "#586e75"
        brightMagenta: "#6c71c4"
        brightRed: "#cb4b16"
        brightWhite: "#fdf6e3"
        brightYellow: "#657b83"
    style:
      fontFamily: "Ricty for Powerline"
      theme: "solarized-dark"
  welcome:
    showOnStartup: false
