name: pinact
on:
  pull_request:
    branches:
      - main
jobs:
  pinact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: suzuki-shunsuke/pinact-action@78ea6afd1fd0678ef72a7e07efc834fcc5ee9a21 # v1.2.0
        with:
          app_id: ${{secrets.APP_ID}}
          app_private_key: ${{secrets.APP_PRIVATE_KEY}}
